<div class="container" style="margin:100px auto">
    {{!-- fila 1 saludo --}}
    <div class="row">
        <div class="col">
            <p class="saludo-novedades">
                <span>Hola {{persona}}!</span>
            </p>
        </div>
    </div>
    {{!-- fila 2 bot贸n cerrar sesi贸n --}}

    <div class="row">
        <div class="col">
            <div class="btn-cerrarsesion">
            <a href="/admin/login/logout" class="btn btn-sm btn-danger"><i class="bi bi-box-arrow-right"></i> Cerrar
                Sesi贸n
            </a>
            </div>
        </div>
    </div>
    {{!-- fila 3 bot贸n nuevo --}}
    <div class="row">
        <div class="col">
            <div class="btn-nuevo">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="bi bi-plus-square-fill"></i> Nuevo</a>
        </div>
        </div>
    </div>
    {{!-- fila 4 titulo listado de novedades --}}
    <div class="row">
        <div class="col">
            <h2>Listado de Novedades</h2>
        </div>
    </div>



{{!-- inicio tabla --}}
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Imagen</th>
                    <th scope="col" class=" text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-center">
                        <a href="/admin/novedades/modificar/{{id}} " title="Editar" class="btn btn-sm btn-secondary"><i
                                class="bi bi-pencil-square"></i></a>
                        <a href="/admin/novedades/eliminar/{{id}} " title="Eliminar" class="btn btn-sm btn-secondary"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

</div>{{!-- fin contenedor --}}
